body{
    font-family: 'oswald';
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 100px;
}
.heading{
    font-weight: 400;
    font-size: large;
}
.sudoku__board{
    margin-top: 50px;
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.lane__one, .lane__two, .lane__three{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
#square__one, #square__two, #square__three{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: column;
}
.row__one, .row__two, .row__three{
    display: flex;
    align-items: center;
    text-align: center;
    flex-direction: row;
}
.block{
    width: 20px;
    height: 20px;
    outline: none;
    offset: none;
    outline-offset: none;
    text-align: center;
    border: 0.4px ridge rgb(168,168,168);
}
.block::-webkit-inner-spin-button, .block::-webkit-outer-spin-button{
    margin: 0;
    -webkit-appearance: none;
}
.submit{
    margin-top: 50px;
}
